# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars

# Node / Web
node_modules/
.npm

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
